<%- include('../../Layouts/Frontend/Header.ejs') %>
<div>
    
    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>About Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a></li>
                                <li class="breadcrumb-item active">About Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->

    <!--About Us Start-->
    <section class="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># about us</span>
                        <h5 class="pq-section-title" id="business" data-high_text="Business" data-title_text="Product Development For Better Business" data-rough_color="#fd4a18" data-rough_type="underline">Product Development For Better Business</h5>
                        <p class="pq-section-description">Lorem Ipsum is simply dummy It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                    <ul class="pq-list-check pq-mb-30">
                        <li class="pq-list-item">
                            <a href="about-us.html">
                                <i class="ion ion-android-done-all"></i>
                                <span>Pellentesque et felis elementum, varius tellus a, eleifend elit.</span>
                            </a>
                        </li>
                        <li class="pq-list-item">
                            <a href="about-us.html">
                                <i class="ion ion-android-done-all"></i>
                                <span>Sed ullamcorper enim ut maximus accumsan.</span>
                            </a>
                        </li>
                        <li class="pq-list-item">
                            <a href="about-us.html">
                                <i class="ion ion-android-done-all"></i>
                                <span>Cras tristique lacus at gravida vulputate.</span>
                            </a>
                        </li>
                        <li class="pq-list-item">
                            <a href="about-us.html">
                                <i class="ion ion-android-done-all"></i>
                                <span>Fusce consectetur purus ac aliquam aliquet.</span>
                            </a>
                        </li>
                    </ul>
                    <div class="pq-image-box pq-style-2">
                        <div class="pq-image-box-image">
                            <img src="images/about-us/7.jpg" alt="">
                        </div>
                        <div class="pq-image-box-description">
                            <h5 class="pq-image-box-title"><a href="#">Jhon doerr</a></h5>
                            <p class="pq-image-box-description pq-text-primary mb-0">CEO OF PEACEFUL THEME</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mt-4 mt-lg-0">
                    <img src="images/about-us/6.jpg" class="w-100" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--About Us End-->

    <!--Benefits Start-->
    <section class="benefits pq-bg-dark pq-bg-img-2 pq-pb-220">
        <div class="container">
            <div class="row align-items-end pq-mb-45">
                <div class="col-xl-6 col-lg-6">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># our benefits</span>
                        <h5 class="pq-section-title pq-text-white" id="professional" data-high_text="Professional" data-title_text="We Deal With Aspects Professional IT Services" data-rough_color="#fd4a18" data-rough_type="underline">We Deal With Aspects Professional IT Services</h5>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <p class="pq-section-description pq-text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Benefits End-->

    <!--services Start-->
    <section class="py-0 pq-mt-220">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="pq-fancy-box pq-fancybox-4">
                        <div class="pq-fancy-media"><i class=" flaticon-computer"></i>
                            <h3 class="pq-fancy-box-title">01</h3>
                        </div>
                        <div class="pq-fancybox-info">
                            <h4 class="pq-fancy-box-sub-title">Digital Experience</h4>
                            <ul class="pq-fancy-list-box">
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Fusce venenatis orci quis varius lobortis.
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Duis gravida neque vel placerat molestie.
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Sed scelerisque massa quis orci ull
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 mt-4 mt-md-0">
                    <div class="pq-fancy-box pq-fancybox-4">
                        <div class="pq-fancy-media"><i class=" flaticon-call-center"></i>
                            <h3 class="pq-fancy-box-title">02</h3>
                        </div>
                        <div class="pq-fancybox-info">
                            <h4 class="pq-fancy-box-sub-title">Business Planning</h4>
                            <ul class="pq-fancy-list-box">
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Duis gravida neque vel placerat molestie.
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Sed scelerisque massa quis orci ull
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Fusce venenatis orci quis varius lobortis.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 mt-4 mt-xl-0">
                    <div class="pq-fancy-box pq-fancybox-4">
                        <div class="pq-fancy-media"><i class=" flaticon-marketing"></i>
                            <h3 class="pq-fancy-box-title">03</h3>
                        </div>
                        <div class="pq-fancybox-info">
                            <h4 class="pq-fancy-box-sub-title">App Development</h4>
                            <ul class="pq-fancy-list-box">
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Etiam dignissim purus in varius porttitor.
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Proin vitae tellus mollis tellus maximus.
                                </li>
                                <li>
                                    <i class="ion ion-android-done-all"></i>
                                    Integer tempus massa nec pellentesque.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services End-->

    <!--About Us Start-->
    <section class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># about us</span>
                        <h5 class="pq-section-title" id="technology" data-high_text="Technology" data-title_text="We Increasing Business Success With Technology" data-rough_color="#fd4a18" data-rough_type="underline">Increasing Business Success With Technology</h5>
                        <p class="pq-section-description">Lorem Ipsum is simply dummy It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                    <div class="pq-progressbar-box pq-progressbar-style-1 ">
                        <div class="pq-progressbar-content">
                            <span class="progress-title">Managed It Services</span>
                            <span class="progress-value">85% </span>
                            <div class="pq-progress-bar">
                                <span data-width="85" class="show-progress"></span>
                            </div>
                        </div>
                        <div class="pq-progressbar-content">
                            <span class="progress-title">It Support &amp; helpdesk</span>
                            <span class="progress-value">92% </span>
                            <div class="pq-progress-bar">
                                <span data-width="92" class="show-progress"></span>
                            </div>
                        </div>
                        <div class="pq-progressbar-content">
                            <span class="progress-title">We Have an It Department</span>
                            <span class="progress-value">80% </span>
                            <div class="pq-progress-bar">
                                <span data-width="80" class="show-progress"></span>
                            </div>
                        </div>
                        <div class="pq-progressbar-content">
                            <span class="progress-title">Software Developent</span>
                            <span class="progress-value">99% </span>
                            <div class="pq-progress-bar">
                                <span data-width="99" class="show-progress"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mt-4 mt-lg-0">
                    <div class="about-us-img text-end">
                        <img src="images/about-us/8.jpg" class="pq-image8 animated wow zoomIn" alt="">
                        <img src="images/about-us/9.jpg" class="pq-image9 animated wow fadeInLeft" alt="">
                        <img src="images/about-us/1.svg" class="pq-image10 animated wow fadeInRight d-none d-xl-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Us End-->

    <!--Services Start-->
    <section class="pq-bg-grey pq-bg-img-1 pq-pb-220 exclusive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># our services</span>
                        <h5 class="pq-section-title" id="exclusive" data-high_text="Exclusive" data-title_text="Provide Exclusive Services" data-rough_color="#fd4a18" data-rough_type="underline">Provide Exclusive Services</h5>
                        <p class="pq-section-description">Lorem Ipsum is simply dummy It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="3" data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                        <div class="item">
                            <div class="pq-fancybox-boxslider fancyslider-1">
                                <h4 class="pq-fancy-title">Mobile Devlopment</h4>
                                <div class="pq-fancy-media"><i class=" flaticon-marketing"></i></div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a class="pq-button pq-btn-link" href="services.html">
                                            <span class="text">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-fancybox-boxslider fancyslider-1">
                                <h4 class="pq-fancy-title">Greate Experienced</h4>
                                <div class="pq-fancy-media"><i class=" flaticon-ecologic-light-bulb"></i></div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a class="pq-button pq-btn-link" href="services.html">
                                            <span class="text">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-fancybox-boxslider fancyslider-1">
                                <h4 class="pq-fancy-title">It Consultant</h4>
                                <div class="pq-fancy-media"><i class=" flaticon-user-interface"></i></div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                </p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a class="pq-button pq-btn-link" href="services.html">
                                            <span class="text">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-fancybox-boxslider fancyslider-1">
                                <h4 class="pq-fancy-title">Software Devlopment</h4>
                                <div class="pq-fancy-media"><i class=" flaticon-call-center"></i></div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                </p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a class="pq-button pq-btn-link" href="services.html">
                                            <span class="text">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-fancybox-boxslider fancyslider-1">
                                <h4 class="pq-fancy-title">Web Devlopment</h4>
                                <div class="pq-fancy-media"><i class=" flaticon-data-analysis"></i></div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
                                </p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a class="pq-button pq-btn-link" href="services.html">
                                            <span class="text">Read More</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Services End-->

    <!--Counter Start-->
    <section class="counter pt-0 pb-0">
        <div class="container pq-bg-dark rounded">
            <div class="row text-center pq-counter-60">
                <div class="col-lg-3 col-md-6">
                    <div class="pq-counter pq-style-1">
                        <div class="pq-counter-contain">
                            <div class="pq-counter-info">
                                <div class="pq-counter-num-prefix">
                                    <h5 class="timer" data-to="15" data-speed="2000">15</h5>
                                    <span class="pq-counter-prefix">K</span>
                                </div>
                                <p class="pq-counter-description pq-text-white">Happy Client</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-0">
                    <div class="pq-counter pq-style-1">
                        <div class="pq-counter-contain">
                            <div class="pq-counter-info">
                                <div class="pq-counter-num-prefix">
                                    <h5 class="timer" data-to="1280" data-speed="2000">1280</h5>
                                    <span class="pq-counter-prefix">+</span>
                                </div>
                                <p class="pq-counter-description pq-text-white">Account Number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                    <div class="pq-counter pq-style-1">
                        <div class="pq-counter-contain">
                            <div class="pq-counter-info">
                                <div class="pq-counter-num-prefix">
                                    <h5 class="timer" data-to="10" data-speed="2000">10</h5>
                                    <span class="pq-counter-prefix">K</span>
                                </div>
                                <p class="pq-counter-description pq-text-white">Finished Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
                    <div class="pq-counter pq-style-1">
                        <div class="pq-counter-contain">
                            <div class="pq-counter-info">
                                <div class="pq-counter-num-prefix">
                                    <h5 class="timer" data-to="992" data-speed="2000">992</h5>
                                    <span class="pq-counter-prefix">+</span>
                                </div>
                                <p class="pq-counter-description pq-text-white">Years Of Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Counter End-->

    <!--Blog Start-->
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># our blog</span>
                        <h5 class="pq-section-title" id="update" data-high_text="Update" data-title_text="Latest Blog Update" data-rough_color="#fd4a18" data-rough_type="underline">Latest Blog Update</h5>
                        <p class="pq-section-description">Lorem Ipsum is simply dummy It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="3" data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/1.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cyber Security</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">App promotes sales &amp; profits In It Solutions</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/2.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>26</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">In Depth Industry &amp; Ecosystem Analysis</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/3.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Events</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">New Remote Workers Visible To Security ?</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/4.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Ways to Develop World Class Sales</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/5.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">How Can I Manage IT Business Factor?</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/6.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Device Management</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Define World Best IT Solution Technology</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/7.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Device Management</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Be-yourself-everyone-else-is-already-taken</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/8.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Cloud Computing</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Plan Your Project with Your Software</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/9.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"><span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a></li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Events</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Tips To Make Your Workforce A Security</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="images/blog/9.jpg" alt="blog-img">
                                    <div class="pq-post-date">
                                        <a href="app-promotes-sales-profits-in-it-solutions.html"> <span>09</span>Jan</a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-calendar"></i>January 2021</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="app-promotes-sales-profits-in-it-solutions.html"><i class="fa fa-tag"></i>Events</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a href="app-promotes-sales-profits-in-it-solutions.html">Planning Your Online Business Goals</a></h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="app-promotes-sales-profits-in-it-solutions.html" class="pq-button pq-btn-outline">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Read More</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog End-->
</div>
<%- include('../../Layouts/Frontend/Footer.ejs') %>