<%- include('../../Layouts/Frontend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="form-group">
                <form id="passwordsForm">
                    <fieldset class="border border-danger rounded">
                        <legend>
                            <h2 class="text-center">
                                Update Your Passwords
                            </h2>
                        </legend>
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <h6 class="text-danger" id="errorText"> </h6>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Password" class="label-control">Password</label>
                                            <input type="password" name="Password" id="password" class="form-control border" placeholder="Enter your Password Here">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="Confirm Password" class="label-control">Confirm Password</label>
                                            <input type="password" name="confirmPassword" id="ConfirmPassworrd" class="form-control border" placeholder="Confirm Your Password Here">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-6 offset-sm-3">
                                            <div class="g-recaptcha" data-sitekey="6Le7IDQpAAAAADi_Igd9ohqPzxjVvOvdUdLIF-XI"></div>
                                        </div>
                                   </div>
                                    <div class="row">
                                        <div class="col-sm-4 offset-sm-4">
                                            <button type="submit" class="btn btn-primary btn-block btn-sm">
                                                Update password
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a href="/Login" class="btn btn-outline-success">Sign In</a>
                                            <a href="/Reset" class="btn btn-outline-danger">Reset Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('../../Layouts/Frontend/Footer.ejs') %>
<script>
    const form = document.querySelector('form#passwordsForm')
    form.addEventListener("submit", async (e)=>{
        e.preventDefault()
        const password = document.querySelector("input#password").value
        const confirmPassword = document.querySelector("input#ConfirmPassworrd").value
        if(password !==confirmPassword){
            document.querySelector("#errorText").innerHTML = "Passwords Do not Match"
            return;
        }
        const url = "/get-new-posted-password"
        const res = await fetch(url,{
            method:'POST',
            body:JSON.stringify({
                "Password":password,
                "confirmPassword":confirmPassword
            }),
            headers:{
                'Content-Type': 'application/json'
            }
        })
        const resp = await res.json()
        form.reset()
        swal(resp.status,resp.message,resp.status)
        if(resp.status==='success'){
            setTimeout(()=>
            {
                location.href = "/Login"
            },3000)
        }else{
            setTimeout(()=>{
                location.href = "/Reset"
            },3000)
        }
    })
</script>