<%- include('../../Layouts/Frontend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Not Authorised</h1>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->

    <!--Page Not Found Start-->
    <section class="page-not-found">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pq-error-block">
                        <div class="pq-error-text">401</div>
                        <h2>UnAuthorised</h2>
                        <p>Oops! Your Account has Been Suspended</p>
                        <a href="/" class="pq-button">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Back To Home</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Page Not Found End-->
</div>
<%- include('../../Layouts/Frontend/Footer.ejs') %>