<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= apptitle %> : Elevating Your Digital Presence with Cutting-Edge Content Solutions for Unmatched Online Visibility and Success</title>
    <meta name="description" content="TechPoint is a leading technology company, specializing in innovative solutions and cutting-edge technologies. ">
    <meta name="keywords" content="technology, innovation, IT solutions, software development, cutting-edge technologies, TechPoint, Technical Writing, Content Writing">
    <meta name="author" content="TechPoint">
    <meta name="robots" content="index, follow">
    <meta name="og:title" property="og:title" content="TechPoint - Elevating your Digital Success">
    <meta name="og:description" property="og:description" content="TechPoint is a leading technology company, specializing in innovative solutions and cutting-edge technologies.">
    <meta name="og:image" property="og:image" content="URL_TO_YOUR_LOGO_IMAGE">
    <meta name="og:url" property="og:url" content="https://blogger-fmh1.onrender.com/">
    <meta name="og:type" property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="TechPoint - Innovating the Future">
    <meta name="twitter:description" content="TechPoint is a leading technology company, specializing in innovative solutions and cutting-edge technologies.">
    <meta name="twitter:image" content="URL_TO_YOUR_LOGO_IMAGE">
    <link rel="canonical" href="https://blogger-fmh1.onrender.com/">
    <!--favicon icon-->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/rev/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/rev/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/rev/css/rs6.css">
    <!--owl carousel-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--Progressbar CSS-->
    <link rel="stylesheet" href="/css/progressbar.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/css/animations.min.css">
    <!--icon css -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
    <!--style css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--responsive css-->
    <link rel="stylesheet" href="/css/responsive.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/js/sweetalert.min.js"></script>
</head>

<body>
    <!-- Loading Start-->
    <div id="pq-loading">
        <div id="pq-loading-center">
            <img src="/images/logos/logo-1.png" alt="loading">
        </div>
    </div>
    <!--Loading End -->

    <!--Header Start-->
    <header id="pq-header" class="pq-header-default">
        <div class="pq-bottom-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/">
                                <img class="img-fluid logo" src="/images/logos/logo-1.png" alt="techtrix">
                            </a>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div id="pq-menu-contain" class="pq-menu-contain">
                                    <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                        <% if(categories.length >0){%>
                                            <% categories.map(category=>{%>
                                                <li class="menu-item">
                                                    <a href="/Contact"><%= category.categoryName %></a>
                                                    <% if(category.toObject().subcategories.length>0){ %>
                                                        <i class="fa fa-chevron-down pq-submenu-icon"></i>
                                                        <ul class="sub-menu">
                                                            <% category.toObject().subcategories.forEach(subcategory=>{%>
                                                            <li class="menu-item">
                                                                <a href="software-development.html"><%= subcategory %></a>
                                                            </li>
                                                            <% }); %>
                                                        </ul>
                                                    <%} %>
                                                        
                                                    
                                                </li>
                                            <%})%>
                                        <%}else{%>

                                            
                                        <%}%>
                                        <% if(isAuthenticated){ %>
                                            <li class="menu-item">
                                                <a href="/Dashboard">My Account</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/Logout">Logout</a>
                                            </li>
                                        <%}else{ %>
                                            <li class="menu-item">
                                                <a href="/Register">Register</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="/Login">Login</a>
                                            </li>
                                        <%} %>
                                        
                                    </ul>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header End-->