<!--Footer Start-->
<footer id="pq-footer" class="style-1">
  <div class="pq-footer-style-1">
      <div class="pq-copyright-footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <span class="pq-copyright"><a target="_blank" href="#">Copyright &copy; <%= new Date().getFullYear() %> <%= apptitle %>  All Rights
                              Reserved.</a></span>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="pq-footer-link">
                          <ul>
                              <li><a href="#">Career</a></li>
                              <li><a href="#">Term Of Use</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
  <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
<!--Jquery js-->
<script src="/js/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!--Bootstrap js-->
<script src="/js/bootstrap.min.js"></script>
<!--Owl Carousel js-->
<script src="/js/owl.carousel.min.js"></script>
<!--Progressbar js-->
<script src="/js/progressbar.js"></script>
<!--Isotope js-->
<script src="/js/isotope.pkgd.min.js"></script>
<!--Counter js -->
<script src="/js/jquery.countTo.min.js"></script>
<!--Magnefic Popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--Animation JS -->
<script src="/js/wow.min.js"></script>
<script src="/js/custom.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>

</body>

</html>