<!--Footer Start-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
<!--Jquery js-->
<script src="/js/jquery.min.js"></script>
<!--Bootstrap js-->
<script src="/js/bootstrap.min.js"></script>
<!--Owl Carousel js-->
<script src="/js/owl.carousel.min.js"></script>
<!--Progressbar js-->
<script src="/js/progressbar.js"></script>
<!--Isotope js-->
<script src="/js/isotope.pkgd.min.js"></script>
<!--Counter js -->
<script src="/js/jquery.countTo.min.js"></script>
<!--Magnefic Popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--Animation JS -->
<script src="/js/wow.min.js"></script>
<!--Rev Slider js-->
<script src="/rev/js/rbtools.min.js"></script>
<script src="/rev/js/rs6.min.js"></script>
<script src="/js/rev-custom.js"></script>
<!--Custom js-->
<script src="/js/rough-script.js"></script>
<script src="/js/rough-notation.iife.js"></script>
<script src="/js/rough-custom.js"></script>
<script src="/js/custom.js"></script>
<script src="https://unpkg.com/feather-icons@4.29.1/dist/feather.min.js"></script>
<script>
    feather.replace();
  </script>
</body>

</html>