<%- include('../Layouts/Frontend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <!--Breadcrumb Start-->
    <div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Page Not Found</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item"><a href="main-home.html"><i class="fa fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Error 404</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--Breadcrumb End-->

    <!--Page Not Found Start-->
    <section class="page-not-found">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pq-error-block">
                        <div class="pq-error-text">404</div>
                        <h2>404 Error</h2>
                        <p>Oops! This Page is Not Found</p>
                        <a href="main-home.html" class="pq-button">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Back To Home</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Page Not Found End-->
</div>
<%- include('../Layouts/Frontend/Footer.ejs') %>