:root {
	--primary-color: #fd4a18;
	--dark-color: #151515;
	--secondary-color: #616161;
	--grey-color: #F7F8F9;
	--white-color: #ffffff;
	--body-fonts: 'Nunito Sans', sans-serif;
	--title-fonts: 'Jost', sans-serif;
}
.bg-warning {
    background-color: #fd4a18 !important;
    color: whitesmoke !important;
}
.content{
    font-size: 20px !important;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    transition:font-size 0.3s ease-in-out !important;

}
span.more-information{
    font-size: 12px !important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: font-size 0.3s ease-in-out;
}
.card-footer:hover  .more-information{
    font-size: 16px !important;
}
.card-footer:hover{
    background-color:white !important;
    color: #fd4a18 !important;
}
.icon:hover img{
    transition:all 0.3s ease-in-out;
    transform: scale(1.4);
}
.content:hover{
    font-size: 23px !important;

}

.card img{
    width: 80px !important;
    align-self: center !important;
}
.text-success{
    color: #4ee44e !important;
}
.bg-success,.text-bg-success{
    background-color: #4ee44e !important;
}
.selectize-control{
    border: none !important;
}
.demo-default{
    height: 10px !important;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 200px;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}