<%- include('../../Layouts/Backend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <a href="/Categories">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="content">
                                    Categories
                                </div>
                                <div class="icon">
                                    <div class="text-center"> <img height="80" width="80px" src="img/categories.png" style="width: 70px !important;"></a> </div>
                                </div>
                            </div>
                        </div>
                        <a href="/Categories">
                            <div class="card-footer bg-warning text-black text-center">
                                <span class="more-information">More Information</span>
                            </div>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Articles
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img  src="img/article.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="/Articles/User">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Comments
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/comment.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="/Admin/Comments">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Analytics
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/report.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Earnings
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/fund.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Notifications
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/notifications.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Users
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/comittee.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Visitors
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/visitors.gif"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Settings
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/setting.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Bills
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/utility.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Payments
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/payments.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="content">
                                Membership
                            </div>
                            <div class="icon">
                                <div class="text-center"> <img height="80" width="80" src="img/membership.png"></a> </div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="card-footer bg-warning text-black text-center">
                            <span class="more-information">More Information</span>
                        </div>
                    </a>
                </div>
            </div>
             <!-- col start -->
        </div>
    </div>
<%- include('../../Layouts/Backend/Footer.ejs') %>