<%- include('../../Layouts/Backend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <div class="container">
        <div class="row mt-2">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        Prodile Information
                    </div>
                    <img src="/img/user.png" class="card-img-top m-2 px-2 py-2" height="80px" alt="...">
                    <div class="card-body">
                        <p class="text-justify">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate labore quas eveniet deserunt iste et. 
                            Reprehenderit blanditiis rem magni, aut architecto perspiciatis animi fugiat? Esse labore eum dignissimos architecto laborum.
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="badge text-bg-success">
                            Verified <i data-feather="check-square" class="text-lg text-white"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3 class="text-center">
                    Fill In the Form Below
                </h3>
            </div>
        </div>
    </div>
</div>
<%- include('../../Layouts/Backend/Footer.ejs') %>